{% load static %}
{% load crispy_forms_tags %} 
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mesa de Ayuda - CIDETEC</title> 

</head>
<body>
    <main>
    {% if messages %}
        <div>
            <ul style="list-style:none">
                {% for message in messages %}
                <li> {{ message }} </li>
                {% endfor %}
            </ul>
        </div>
    {% endif%}

    {% block content %}
    
    {% endblock content %}
    </main>
</body>
</html>
